<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<div id="contact">
    <h1>{{h1}}&nbsp; <font size="3"><a href={{pages.[0]}}>Home</a>&nbsp;&nbsp;<a href={{pages.[1]}}>City</a></font></h1>

    <form action="/form2" method="post" align="center">
        <fieldset>
            <label for={{box1}}>{{box1}}:</label>
            <input type="text" id={{box1}} name={{box1}} placeholder="Enter the city" />
            <br><br>
            {{!-- {{name field for object}} --}}
            <label for={{box2}}>{{box2}}:</label>
            <input type="email" id={{box2}} name={{box2}} placeholder="Enter your email address" />
            <br><br>

            <input type="submit" value="Send message" />

            <p>{{result}}</p>

        </fieldset>
    </form>
</div>
</body>
{{> footer}}
</html>