<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cards</title>
</head>
<body>
<div id="contact">
    <h1>Cards game&nbsp; <font size="3"><a href={{pages.[0]}}>Home</a>&nbsp;&nbsp;<a href={{pages.[1]}}>Nasa</a></font></h1>

    <form action="/cards" method="post" align="center">
        <fieldset>
            <label for={{box1}}>Number of cards:</label>
            <input type="text" id={{box1}} name={{box1}} placeholder="Enter the number of card" />
            <br><br>

            <input type="submit" value="Refresh" />

            <p>{{result}}</p>

           {{#each output}}
                <img src = '{{img}}'>&nbsp;
            {{/each}}

        </fieldset>
    </form>
</div>
</body>
{{> footer}}
</html>